<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="shortcut icon" href="img/weather.png" type="image/x-icon">
        <title>About</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/warning-img.PNG" alt="warning">
        </div>
        
        {{>footer}}
    </body>
</html>